/* Tusur mosec for embedded webapp
 * Tusur brand colors - https://design.tusur.ru/palette.html
 * color: #3C388D - highlights blue (microelectronics)
 * color: #652580 - additional purple
 * color: #9FC53A - additional green (medicine)
 * color: #36CCE8 - additional aqua
 * color: #6C8899 - grey (info-bez)
 */

html, body {
    color: #393939;
    line-height: 1.5;
    height: 100%;
    background: #ECF0F3;
}

nav.navbar {
  border-top: 4px solid #3C388D;
  margin-bottom: 1rem;
}

.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}

.menu-list a {
  color: #0F1D38;
}

.menu-list a:hover {
  background-color: transparent;
  color: #3C388D;
}
.menu-list a.is-active {
  background-color: transparent;
  color: #3C388D;
}

.hero.welcome.is-info {
  background: #652580;
  background: -webkit-linear-gradient(to right, #3C388D, #652580);
  background: linear-gradient(to right, #3C388D, #652580);
}

