<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>mosec demo</title>
  <link rel="stylesheet" type="text/css" href="/static/bulma.css"/>
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>

</head>
<body>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item brand-text" href="/">
          Модуль безопасности
        </a>
        <div class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
          <p class="navbar-item" href="#">
            Пользователь
          </p>
          <a class="navbar-item" href="#">
            Выход
          </a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="columns">
      <div class="column is-3 ">
        <aside class="menu is-hidden-mobile">
          <p class="menu-label">
            Главная
          </p>
          <ul class="menu-list">
            <li><a href="/">Главная панель</a></li>
          </ul>
          <p class="menu-label">
            Управление и мониторинг
          </p>
          <ul class="menu-list">
            <li><a href="/audit">Журнал транзакций</a></li>
            <li><a href="/devices">Отслеживаемые устройства</a></li>
          </ul>
          <p class="menu-label">
            Система 
          </p>
          <ul class="menu-list">
            <li><a href="/network">Сетевые настройки</a></li>
            <li><a>Состояние системы</a></li>
          </ul>
        </aside>
      </div>
      <div class="column is-9">
        {% block content %}{% endblock content %}
      </div>
    </div>
  </div>
</body>
</html>
